@import "remirror/styles/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #ebebed;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	margin: 0 auto;
}

/* Remirror custom styles */
.remirror-theme {
	--rmr-color-background: white;
	--rmr-color-border: #e2e8f0;
	--rmr-color-selection: #b4d5ff;
	--rmr-color-text-primary: #334155;
	--rmr-color-text-secondary: #64748b;
	--rmr-spacing-1: 0.25rem;
	--rmr-spacing-2: 0.5rem;
	--rmr-spacing-3: 0.75rem;
	--rmr-spacing-4: 1rem;
	--rmr-spacing-5: 1.25rem;
	--rmr-spacing-6: 1.5rem;
	--rmr-spacing-7: 1.75rem;
	--rmr-spacing-8: 2rem;

	/* Editor specific styles */
	max-width: 800px;
	margin: 0 auto;
	background-color: var(--rmr-color-background);
	border: 1px solid var(--rmr-color-border);
	border-radius: 0.5rem;
	box-shadow: 0 12px 16px -2px rgba(24, 16, 62, 0.05);
}

.remirror-editor-wrapper {
	padding: 0;
}

.remirror-theme .ProseMirror {
	min-height: 200px;
	padding: var(--rmr-spacing-4) var(--rmr-spacing-7);
	outline: none;
	box-shadow: none;
}

.remirror-theme .ProseMirror:active,
.remirror-theme .ProseMirror:focus {
	box-shadow: none;
}

.remirror-theme .ProseMirror p {
	margin: var(--rmr-spacing-3) 0;
}

/* Placeholder styling */
.remirror-theme .ProseMirror p.is-empty:first-of-type::before {
	content: attr(data-placeholder);
	color: var(--rmr-color-text-secondary);
	float: left;
	pointer-events: none;
	height: 0;
}
